*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

.hero {
  background-color: #3a0358;
  padding: 100px 0;
  color: #fff;
}

.hero__text {
  width: 40%;
}

button {
  margin: 2em;
  padding: 1em 4em;
  font-weight: bold;
  font-size: 1rem;
  background-color: #38cfd9;
  border-radius: 32px;
  border: none;
}

.hero__img {
  width: 50%;
}

.hero img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  text-align: center;
  padding: 2em 3em;
  margin: 3em;
  max-width: 450px;
  background-color: #3a0358;
  color: #fff;
}

.main-content {
  display: flex;
  padding: 3em 0;
  width: 100%;
}

.main {
  display: flex;
}
