*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

.hero {
  background-color: #3a0358;
  padding: 100px 0;
  color: #fff;
}

.hero__text {
  width: 40%;
}

button {
  margin: 2em;
  padding: 1em 4em;
  font-weight: bold;
  font-size: 1rem;
  background-color: #38cfd9;
  border-radius: 32px;
  border: none;
}

.hero__img {
  width: 50%;
}

.hero img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  text-align: center;
  padding: 2em 3em;
  margin: 3em;
  max-width: 450px;
  background-color: #3a0358;
  color: #fff;
}

.main-content {
  display: flex;
  padding: 3em 0;
  width: 100%;
}

.main {
  display: flex;
}

header {
  background: #b38ac9;
}

.nav_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.6em;
  font-weight: bold;
}

.nav_link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_item {
  padding: 0.7em;
}

.nav_link-button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav_link:hover {
  opacity: 0.75;
}
