*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

.hero {
  background-color: #3a0358;
  padding: 100px 0;
  color: #fff;
}

.hero__text {
  width: 40%;
}

button {
  margin: 2em;
  padding: 1em 4em;
  font-weight: bold;
  font-size: 1rem;
  background-color: #38cfd9;
  border-radius: 32px;
  border: none;
}

.hero__img {
  width: 50%;
}

.hero img {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  text-align: center;
  margin: 1em 0 0 3em;
  padding: 1em;
  width: 35%;
  max-width: 450px;
  background-color: #3a0358;
  color: #fff;
  font-size: 0.8em;
}

.main-content {
  display: flex;
  justify-content: center;
  /* padding: 3em; */
}

.main {
  display: flex;
  margin-top: 3em;
}

header {
  background: #a462c7;
  padding: 1em 0;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

.nav_link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_item + .nav_item {
  margin-left: 1em;
}

.nav_link-button {
  background: #fff;
  color: #000;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav_link:hover {
  opacity: 0.75;
}

@media (max-width: 800px) {
  .row,
  .main {
    display: block;
  }

  .hero__text,
  .hero__img,
  .main {
    width: 100%;
  }

  .sidebar {
    justify-content: center;
  }
}
